<default-layout>
    <div class="container">
      <div class="col">
        <h1 class="mat-display-3">Galerija</h1>
      </div>
    </div>
    <div class="container">
      <div class="col">
        <img src="https://picsum.photos/seed/n3pe/1000/1000" alt="slika1">
      </div>
      <div class="col">
        <img src="https://picsum.photos/seed/n12e/1000/1000" alt="slika1">
      </div>
      <div class="col">
        <iframe src="https://www.youtube.com/embed/BEND1NXKxdc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col">
        <iframe src="https://www.youtube.com/embed/okce4xuXN1Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col">
        <iframe src="https://www.youtube.com/embed/dcH5STRPMdA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="container">
      <div class="col">
        <img src="https://picsum.photos/seed/nis/1000/1000" alt="slika1">
      </div>
      <div class="col">
        <img src="https://picsum.photos/seed/3pe/1000/1000" alt="slika1">
      </div>
      <div class="col">
        <img src="https://picsum.photos/seed/n43e/1000/1000" alt="slika1">
      </div>
    </div>
  </default-layout>
  