<default-layout>
  <div class="container">
    <div class="col">
      <h1 class="mat-display-4">Kutija iznenađenja</h1>
      <h2 class="mat-display-2">Poklon za svaku priliku</h2>
      <p class="mat-subheading-2">
        Uspomene u vidu fotografija, spakovane u malu kutiju, pravi su nacin da
        pokažete dragim osobama koliko vam znače. <br/> Učestvujte u stvaranju
        savršenog iznenađenja za Vama drage osobe. <br/> Dajte svoj pečat izgledu
        kutije izborom boja i elemenata, neka Vaš poklon bude zaista unikatan.<br/>
        Darujte, jer sreća je u darivanju.
      </p>
      <div>
        <button class="next-button" mat-button routerLink="/builder">
          Izgradi svoju kutiju
        </button>
      </div>
    </div>
    <div class="col">
      <div class="image">
        <img src="../../../assets/illustartion.svg" alt="Explosion Box" />
      </div>
    </div>
  </div>
</default-layout>
